
.logo {
    
    // background: rgba(255, 255, 255, 0.2);
    // margin: 16px 28px 16px 0;
    float: left;
    // color: #fff;
    // font-family:"Times New Roman";
    img {
      height: 100%;
    }
  }
  
  .ant-layout{
    height:100%;
  }
.site-layout-background {
    background: #fff;
    height: 100%;
  }
  .ant-dropdown-link{
       float: right;
  }

.ant-modal-body{
  .ant-form-item{
    &:nth-child(1){
      // margin-left: 21px;
    }
  }
}