<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <Input placeholder="真实姓名查询" style={{ width: 140, marginRight: 20 }} value={this.state.search.name} onChange={this.inputValue.bind(this)} />
          <Input placeholder="手机号码查询" style={{ width: 150, marginRight: 20 }} value={this.state.search.phone} />
          <Select defaultValue={this.state.search.sex} style={{ width: 80 }} onChange={this.handleChange.bind(this)}>
            <Option value="男">男</Option>
            <Option value="女">女</Option>
          </Select>
          {/* 查询 */}
          <Button
            type="primary"
            icon={<SearchOutlined />}
            style={{ marginLeft: 20 }}
            title="查询用户"
            // onClick={this.searchUser.bind(this)}
          >
          </Button>
          {/* 重置 */}
          <Button
            type="primary"
            icon={<PoweroffOutlined />}
            style={{ marginLeft: 20 }}
            onClick={this.resetInput.bind(this)}
          >
            重置
        </Button> -->\

  <!-- <Form.Item>
          <Select defaultValue="" style={{ width: 80 }} onChange={this.handleChange.bind(this)}>
            <Option value="男">男</Option>
            <Option value="女">女</Option>
          </Select>
        </Form.Item> -->

  var regu = "^1[3-9]{10}$"

</body>

</html>